In [159]:
import pandas as pd

In [160]:
allele_table_a3026 = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/a3026_allele_table.csv',header=0,index_col=0,na_filter=False)
allele_table_a3028 = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/a3028_allele_table.csv',header=0,index_col=0,na_filter=False)
allele_table_a3030 = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/a3030_allele_table.csv',header=0,index_col=0,na_filter=False)

In [161]:
allele_table = pd.concat([allele_table_a3026,allele_table_a3028,allele_table_a3030],axis=0)

In [162]:
allele_table

,Sample,cellBC,intBC,r1,allele,readCount,UMI,UMI_ratio,lineageGrp
0,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Tpt1,None,None,5648,967,0.967000,9
1,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Btf3,None,None,827,96,0.989691,9
2,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Calm2,None,None,3075,88,0.897959,9
3,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Hint1,None,None,624,70,0.958904,9
4,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Slc25a3,None,None,882,64,1.000000,9
...,...,...,...,...,...,...,...,...,...
496555,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Tpt1,None,None,12,3,0.300000,129
496556,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Calr,81:2D,81:2D,165,2,0.500000,129
496557,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Tpt1,93:1I,93:1I,13,2,0.200000,129
496558,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Rpl39,None,None,7,2,0.666667,129
496559,T1_a3030,T1_a3030_AAGTGAACAGGATCTT,Rpl39,None,None,20,4,1.000000,12

In [163]:
gene_names = ['Acta1', 'Hsp90b1','Calr','Cfl1','Myl6','Rpl39','Calm2','Fth1','Hsp90ab1','Tpt1','Slc25a3','Lgals1','Btf3','Hint1','Calm1']

In [164]:
allele_table['gene_r1'] = allele_table['intBC'] + '_' + allele_table['r1']
allele_table

,Sample,cellBC,intBC,r1,allele,readCount,UMI,UMI_ratio,lineageGrp,gene_r1
0,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Tpt1,None,None,5648,967,0.967000,9,Tpt1_None
1,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Btf3,None,None,827,96,0.989691,9,Btf3_None
2,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Calm2,None,None,3075,88,0.897959,9,Calm2_None
3,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Hint1,None,None,624,70,0.958904,9,Hint1_None
4,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Slc25a3,None,None,882,64,1.000000,9,Slc25a3_None
...,...,...,...,...,...,...,...,...,...,...
496555,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Tpt1,None,None,12,3,0.300000,129,Tpt1_None
496556,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Calr,81:2D,81:2D,165,2,0.500000,129,Calr_81:2D
496557,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Tpt1,93:1I,93:1I,13,2,0.200000,129,Tpt1_93:1I
496558,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Rpl39,None,None,7,2,0.666667,129,Rpl39_None
496559,T1_a3030,T1_a3030_AAGTGAACAGGATCTT,Rpl39,None,None,20,4,1.000000,12,Rpl39_None

In [165]:
allele_table_mut = allele_table[allele_table['r1']!='None']
allele_table_mut

,Sample,cellBC,intBC,r1,allele,readCount,UMI,UMI_ratio,lineageGrp,gene_r1
5,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Rpl39,88:3D,88:3D,289,61,0.398693,9,Rpl39_88:3D
6,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Rpl39,87:4D,87:4D,228,53,0.346405,9,Rpl39_87:4D
8,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Myl6,84:9D,84:9D,315,38,0.481013,9,Myl6_84:9D
10,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Myl6,90:2D,90:2D,271,28,0.354430,9,Myl6_90:2D
12,T3_a3026_1_1,T3_a3026_1_1_CTACCCAAGGGCTTCC,Hsp90ab1,87:1D,87:1D,139,21,0.656250,9,Hsp90ab1_87:1D
...,...,...,...,...,...,...,...,...,...,...
496552,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Tpt1,81:16D,81:16D,18,4,0.400000,129,Tpt1_81:16D
496553,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Fth1,89:16D,89:16D,18,3,0.500000,129,Fth1_89:16D
496554,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Fth1,90:1I,90:1I,13,3,0.500000,129,Fth1_90:1I
496556,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Calr,81:2D,81:2D,165,2,0.500000,129,Calr_81:2D
496557,T1_a3030,T1_a3030_CAGTTAGTCAAACCCA,Tpt1,93:1I,93:1I,13,2,0.200000,129,Tpt1_93:1I

In [151]:
len(set(allele_table_mut['gene_r1'][allele_table_mut['intBC']!='Acta1']))

5292

In [166]:
set(allele_table_mut['lineageGrp'][allele_table_mut['intBC']=='Acta1'])

{5, 14, 47, 62}

# T1

In [17]:
samples = ['T1_a3026','T1_a3028','T1_a3030']

In [18]:
allele_table_rep = allele_table[allele_table['Sample'].isin(samples)]
cell_mutation_matrix = pd.DataFrame(index=list(set(allele_table_rep['cellBC'])))
for gene in gene_names:
    print(gene)
    allele_table_gene = allele_table_rep[allele_table_rep['intBC']==gene]
    allele_table_gene = allele_table_gene[allele_table_gene['r1']!='None']
    df = allele_table_gene.pivot(index='cellBC', columns='r1', values='UMI')
    df= df.fillna(0)
    df[df > 0] = 1
    df.columns = [gene + '_' + indel for indel in df.columns]
    cell_mutation_matrix = cell_mutation_matrix.join(df, how='outer')
    cell_mutation_matrix = cell_mutation_matrix.fillna(0)

cell_lineage = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/cell_lineage.T1_T2_T3a.csv',header=0)
cell_lineage.index = cell_lineage.cellBC
cell_lineage = cell_lineage.loc[allele_table_rep.cellBC.unique(),:]

for lineageGrp in cell_lineage['lineageGrp'].unique():

    cell_mutation_matrix_lineageGrp = cell_mutation_matrix.loc[cell_lineage[cell_lineage['lineageGrp'].isin([lineageGrp])]['cellBC'],:]           
    cell_mutation_matrix_lineageGrp = cell_mutation_matrix_lineageGrp.astype(int)
    if cell_mutation_matrix_lineageGrp.shape[0] < 100:
        continue

    cell_mutation_matrix_lineageGrp = cell_mutation_matrix_lineageGrp.loc[:, (cell_mutation_matrix_lineageGrp != 0).any(axis=0)]
    if cell_mutation_matrix_lineageGrp.shape[1] == 0:
        continue
    cell_mutation_matrix_lineageGrp.loc['synthetic'] = [ 0 for i in range(0,cell_mutation_matrix_lineageGrp.shape[1])]

    cell_mutation_matrix_lineageGrp.to_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/'+'T1/'+'cell_mutation_matrix-C'+str(lineageGrp)+'-'+str(cell_mutation_matrix_lineageGrp.shape[0])+'.csv')

    cell_mutation_sequence = cell_mutation_matrix_lineageGrp.apply(lambda row: ''.join(row.astype(str)), axis=1)
    output_file = '/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/'+'T1/'+ 'cell_mutation_matrix-C'+str(lineageGrp)+'-'+str(cell_mutation_matrix_lineageGrp.shape[0])+'.phy'
    with open(output_file, 'w') as file:
        file.write(f"{cell_mutation_matrix_lineageGrp.shape[0]} \t{cell_mutation_matrix_lineageGrp.shape[1]}\n") 
        for index, line in cell_mutation_sequence.items():
            file.write(f"{index}\t{line}\n")

Acta1
Hsp90b1
Calr
Cfl1
Myl6
Rpl39
Calm2
Fth1
Hsp90ab1
Tpt1
Slc25a3
Lgals1
Btf3
Hint1
Calm1

# T2T3

In [8]:
samples = ['T2_a3026_1','T2_a3026_2','T3_a3026_1_1','T3_a3026_2_1','T2_a3028_1','T2_a3028_2','T3_a3028_1_1','T3_a3028_2_1','T2_a3030_1','T2_a3030_2','T3_a3030_1_1','T3_a3030_2_1']

In [9]:
allele_table_rep = allele_table[allele_table['Sample'].isin(samples)]
cell_mutation_matrix = pd.DataFrame(index=list(set(allele_table_rep['cellBC'])))
for gene in gene_names:
    print(gene)
    allele_table_gene = allele_table_rep[allele_table_rep['intBC']==gene]
    allele_table_gene = allele_table_gene[allele_table_gene['r1']!='None']
    df = allele_table_gene.pivot(index='cellBC', columns='r1', values='UMI')
    df= df.fillna(0)
    df[df > 0] = 1
    df.columns = [gene + '_' + indel for indel in df.columns]
    cell_mutation_matrix = cell_mutation_matrix.join(df, how='outer')
    cell_mutation_matrix = cell_mutation_matrix.fillna(0)

cell_lineage = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/cell_lineage.T1_T2_T3a.csv',header=0)
cell_lineage.index = cell_lineage.cellBC
cell_lineage = cell_lineage.loc[allele_table_rep.cellBC.unique(),:]

for lineageGrp in cell_lineage['lineageGrp'].unique():

    cell_mutation_matrix_lineageGrp = cell_mutation_matrix.loc[cell_lineage[cell_lineage['lineageGrp'].isin([lineageGrp])]['cellBC'],:]           
    cell_mutation_matrix_lineageGrp = cell_mutation_matrix_lineageGrp.astype(int)
    if cell_mutation_matrix_lineageGrp.shape[0] < 10:
        continue

    cell_mutation_matrix_lineageGrp = cell_mutation_matrix_lineageGrp.loc[:, (cell_mutation_matrix_lineageGrp != 0).any(axis=0)]
    if cell_mutation_matrix_lineageGrp.shape[1] == 0:
        continue
    cell_mutation_matrix_lineageGrp.loc['synthetic'] = [ 0 for i in range(0,cell_mutation_matrix_lineageGrp.shape[1])]

    cell_mutation_matrix_lineageGrp.to_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/'+'T2_and_T3/'+'cell_mutation_matrix-C'+str(lineageGrp)+'-'+str(cell_mutation_matrix_lineageGrp.shape[0])+'.csv')

    cell_mutation_sequence = cell_mutation_matrix_lineageGrp.apply(lambda row: ''.join(row.astype(str)), axis=1)
    output_file = '/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/'+'T2_and_T3/'+ 'cell_mutation_matrix-C'+str(lineageGrp)+'-'+str(cell_mutation_matrix_lineageGrp.shape[0])+'.phy'
    with open(output_file, 'w') as file:
        file.write(f"{cell_mutation_matrix_lineageGrp.shape[0]} \t{cell_mutation_matrix_lineageGrp.shape[1]}\n") 
        for index, line in cell_mutation_sequence.items():
            file.write(f"{index}\t{line}\n")

Acta1
Hsp90b1
Calr
Cfl1
Myl6
Rpl39
Calm2
Fth1
Hsp90ab1
Tpt1
Slc25a3
Lgals1
Btf3
Hint1
Calm1

# T1T2T3

In [12]:
samples = ['T1_a3026','T1_a3028','T1_a3030','T2_a3026_1','T2_a3026_2','T3_a3026_1_1','T3_a3026_2_1','T2_a3028_1','T2_a3028_2','T3_a3028_1_1','T3_a3028_2_1','T2_a3030_1','T2_a3030_2','T3_a3030_1_1','T3_a3030_2_1']

In [23]:
allele_table_rep = allele_table[allele_table['Sample'].isin(samples)]
cell_mutation_matrix = pd.DataFrame(index=list(set(allele_table_rep['cellBC'])))
for gene in gene_names:
    print(gene)
    allele_table_gene = allele_table_rep[allele_table_rep['intBC']==gene]
    allele_table_gene = allele_table_gene[allele_table_gene['r1']!='None']
    df = allele_table_gene.pivot(index='cellBC', columns='r1', values='UMI')
    df= df.fillna(0)
    df[df > 0] = 1
    df.columns = [gene + '_' + indel for indel in df.columns]
    cell_mutation_matrix = cell_mutation_matrix.join(df, how='outer')
    cell_mutation_matrix = cell_mutation_matrix.fillna(0)

cell_lineage = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/cell_lineage.T1_T2_T3a.csv',header=0)
cell_lineage.index = cell_lineage.cellBC
cell_lineage = cell_lineage.loc[allele_table_rep.cellBC.unique(),:]

for lineageGrp in cell_lineage['lineageGrp'].unique():

    cell_mutation_matrix_lineageGrp = cell_mutation_matrix.loc[cell_lineage[cell_lineage['lineageGrp'].isin([lineageGrp])]['cellBC'],:]           
    cell_mutation_matrix_lineageGrp = cell_mutation_matrix_lineageGrp.astype(int)
    if cell_mutation_matrix_lineageGrp.shape[0] < 10:
        continue

    cell_mutation_matrix_lineageGrp = cell_mutation_matrix_lineageGrp.loc[:, (cell_mutation_matrix_lineageGrp != 0).any(axis=0)]
    if cell_mutation_matrix_lineageGrp.shape[1] == 0:
        continue
    cell_mutation_matrix_lineageGrp.loc['synthetic'] = [ 0 for i in range(0,cell_mutation_matrix_lineageGrp.shape[1])]

    cell_mutation_matrix_lineageGrp.to_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/'+'T1T2T3/'+'cell_mutation_matrix-C'+str(lineageGrp)+'-'+str(cell_mutation_matrix_lineageGrp.shape[0])+'.csv')

    cell_mutation_sequence = cell_mutation_matrix_lineageGrp.apply(lambda row: ''.join(row.astype(str)), axis=1)
    output_file = '/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/'+'T1T2T3/'+ 'cell_mutation_matrix-C'+str(lineageGrp)+'-'+str(cell_mutation_matrix_lineageGrp.shape[0])+'.phy'
    with open(output_file, 'w') as file:
        file.write(f"{cell_mutation_matrix_lineageGrp.shape[0]} \t{cell_mutation_matrix_lineageGrp.shape[1]}\n") 
        for index, line in cell_mutation_sequence.items():
            file.write(f"{index}\t{line}\n")

Acta1
Hsp90b1
Calr
Cfl1
Myl6
Rpl39
Calm2
Fth1
Hsp90ab1
Tpt1
Slc25a3
Lgals1
Btf3
Hint1
Calm1

In [25]:
set(allele_table_rep['Sample'])

{'T1_a3026',
 'T1_a3028',
 'T1_a3030',
 'T2_a3026_1',
 'T2_a3026_2',
 'T2_a3028_1',
 'T2_a3028_2',
 'T2_a3030_1',
 'T2_a3030_2',
 'T3_a3026_1_1',
 'T3_a3026_2_1',
 'T3_a3028_1_1',
 'T3_a3028_2_1',
 'T3_a3030_1_1',
 'T3_a3030_2_1'}

In [3]:
import os

In [23]:
clones = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/T1T2T3/clone.mut.list',header=None)
cellbc_all = []
for file_phy in clones[0]:
    phy = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/T1T2T3/'+file_phy,sep='\t')
    cellbc_all = cellbc_all + phy.iloc[:,0].to_list()

In [24]:
len(cellbc_all)

70037

In [25]:
metadata = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/scRNA/cellranger/metadata.T1_T2_T3a.harmony.final.refine.csv')
metadata

/tmp/ipykernel_351684/2648883166.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/scRNA/cellranger/metadata.T1_T2_T3a.harmony.final.refine.csv')

,Unnamed: 0,orig.ident,nCount_RNA,nFeature_RNA,percent.mt,RNA_snn_res.0.2,seurat_clusters,pANN_0.25_0.12_592,Doublet_or_Singlet,pANN_0.25_0.21_600,...,pANN_0.25_0.29_759,pANN_0.25_0.28_612,pANN_0.25_0.14_771,pANN_0.25_0.07_798,RNA_snn_res.0.3,harmony_clusters,seurat_clusters_rename,umapharmony_1,umapharmony_2,cellName
0,T1_T1_a3026_AAACCCAAGACTAGAT-1,T1_a3026,23101,4348,5.653435,1.0,1,0.314012,Singlet,NaN,...,NaN,NaN,NaN,NaN,1,1,2,3.960447,5.419786,T1_a3026_AAACCCAAGACTAGAT
1,T1_T1_a3026_AAACCCACATGAGATA-1,T1_a3026,13159,3546,2.029030,0.0,2,0.356351,Singlet,NaN,...,NaN,NaN,NaN,NaN,0,2,1,-4.321606,-2.761532,T1_a3026_AAACCCACATGAGATA
2,T1_T1_a3026_AAACCCAGTCGCTGCA-1,T1_a3026,15441,3362,5.984068,0.0,2,0.256048,Singlet,NaN,...,NaN,NaN,NaN,NaN,0,2,1,-2.283126,-2.055104,T1_a3026_AAACCCAGTCGCTGCA
3,T1_T1_a3026_AAACCCAGTCTCGCGA-1,T1_a3026,87500,7440,4.874286,0.0,2,0.452117,Singlet,NaN,...,NaN,NaN,NaN,NaN,0,2,1,-2.347915,-1.723554,T1_a3026_AAACCCAGTCTCGCGA
4,T1_T1_a3026_AAACCCATCACGGGAA-1,T1_a3026,22915,3939,4.233035,0.0,2,0.250000,Singlet,NaN,...,NaN,NaN,NaN,NaN,0,2,1,-2.880527,-2.335177,T1_a3026_AAACCCATCACGGGAA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91406,T3_T3_a3030_TTTGTTGCATGGACAG-1,T3_a3030_1_1,21144,4395,7.609724,NaN,0,NaN,Singlet,NaN,...,NaN,NaN,NaN,0.269478,3,0,3,-1.273801,-2.477038,T3_a3030_1_1_TTTGTTGCATGGACAG
91407,T3_T3_a3030_TTTGTTGGTAAGATCA-1,T3_a3030_2_1,15115,4228,5.339067,NaN,0,NaN,Singlet,NaN,...,NaN,NaN,NaN,0.369386,2,0,3,0.885944,-1.561220,T3_a3030_2_1_TTTGTTGGTAAGATCA
91408,T3_T3_a3030_TTTGTTGGTGCGGTAA-1,T3_a3030_1_1,12252,2836,5.811296,NaN,2,NaN,Singlet,NaN,...,NaN,NaN,NaN,0.109991,4,2,1,-5.376790,-0.871353,T3_a3030_1_1_TTTGTTGGTGCGGTAA
91409,T3_T3_a3030_TTTGTTGTCCGCAAAT-1,T3_a3030_2_1,17460,4159,4.444444,NaN,0,NaN,Singlet,NaN,...,NaN,NaN,NaN,0.206233,2,0,3,0.321478,-1.859076,T3_a3030_2_1_TTTGTTGTCCGCAAAT
91410,T3_T3_a3030_TTTGTTGTCGGTATGT-1,T3_a3030_2_1,33977,6577,3.134473,NaN,1,NaN,Singlet,NaN,...,NaN,NaN,NaN,0.349221,1,1,2,3.145834,4.822145,T3_a3030_2_1_TTTGTTGTCGGTATGT

In [26]:
len(metadata['cellName'][metadata['cellName'].isin(cellbc_all)])

69625

In [7]:
allele_table_rep = allele_table[allele_table['Sample'].isin(samples)]
cell_mutation_matrix = pd.DataFrame(index=list(set(allele_table_rep['cellBC'])))
for gene in gene_names:
    print(gene)
    allele_table_gene = allele_table_rep[allele_table_rep['intBC']==gene]
    allele_table_gene = allele_table_gene[allele_table_gene['r1']!='None']
    df = allele_table_gene.pivot(index='cellBC', columns='r1', values='UMI')
    df= df.fillna(0)
    df[df > 0] = 1
    df.columns = [gene + '_' + indel for indel in df.columns]
    cell_mutation_matrix = cell_mutation_matrix.join(df, how='outer')
    cell_mutation_matrix = cell_mutation_matrix.fillna(0)

cell_lineage = pd.read_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/cell_lineage.T1_T2_T3a.csv',header=0)
cell_lineage.index = cell_lineage.cellBC
cell_lineage = cell_lineage.loc[allele_table_rep.cellBC.unique(),:]

for lineageGrp in cell_lineage['lineageGrp'].unique():

    cell_mutation_matrix_lineageGrp = cell_mutation_matrix.loc[cell_lineage[cell_lineage['lineageGrp'].isin([lineageGrp])]['cellBC'],:]           
    cell_mutation_matrix_lineageGrp = cell_mutation_matrix_lineageGrp.astype(int)
    if cell_mutation_matrix_lineageGrp.shape[0] < 10:
        continue

    cell_mutation_matrix_lineageGrp = cell_mutation_matrix_lineageGrp.loc[(cell_mutation_matrix_lineageGrp != 0).any(axis=1), (cell_mutation_matrix_lineageGrp != 0).any(axis=0)]
    if cell_mutation_matrix_lineageGrp.shape[1] == 0:
        continue
    cell_mutation_matrix_lineageGrp.loc['synthetic'] = [ 0 for i in range(0,cell_mutation_matrix_lineageGrp.shape[1])]

    cell_mutation_matrix_lineageGrp.to_csv('/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/'+'T1T2T3_filtered/'+'cell_mutation_matrix-C'+str(lineageGrp)+'-'+str(cell_mutation_matrix_lineageGrp.shape[0])+'.csv')

    cell_mutation_sequence = cell_mutation_matrix_lineageGrp.apply(lambda row: ''.join(row.astype(str)), axis=1)
    output_file = '/syn1/liangzhen/jinhua_jilab_project/result/DNA_Amplicon/trees/merge_all_experiments/'+'T1T2T3_filtered/'+ 'cell_mutation_matrix-C'+str(lineageGrp)+'-'+str(cell_mutation_matrix_lineageGrp.shape[0])+'.phy'
    with open(output_file, 'w') as file:
        file.write(f"{cell_mutation_matrix_lineageGrp.shape[0]} \t{cell_mutation_matrix_lineageGrp.shape[1]}\n") 
        for index, line in cell_mutation_sequence.items():
            file.write(f"{index}\t{line}\n")

Acta1
Hsp90b1
Calr
Cfl1
Myl6
Rpl39
Calm2
Fth1
Hsp90ab1
Tpt1
Slc25a3
Lgals1
Btf3
Hint1
Calm1